/*1528 x 746.4 pixels to work with on this laptop*/
body
{
    background-color:#ffffff;
    margin:0px;
    padding:0px;
    overflow:scroll;
    overflow-x:hidden;
}
header
{
    width:84vw;
    height:15vh;
    background-color:#fff;
    float:right;
    /* border-bottom:2px dashed #ccc; */
}
header > img 
{
    max-height: 100%;
    min-width:100%;
    padding:0px;
}
#newest
{
    width:80vw;
    height:10vh;
    background-color:#630;
    float:right;
    margin-right:1.5vw;
    margin-left:2.5vw;
    text-align:center;
}
nav
{
    background-color:#996633;
    height:200vh;
    width:15vw;
}
article
{
    color:#fff;
}
footer
{
    color:#fff;
}